body {
    margin:0;
    padding:0;
}

main {
    padding:16px;
    color: #146152;
}

a:link {
    color:#B4CF66;
    text-decoration: none;
}

footer {
    padding-top:24px;
    padding-right:0px;
    padding-bottom: 24px;
    padding-left: 0px;
}

nav {
    padding:16px;
    border-bottom:1px solid black;
    background-color: #FF5A33;
}

h1, h2 {
    font-family: "Roboto Condensed";
    font-variant: small-caps;
}

footer {
    background-color: #FFEC5C;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

tr:nth-child(even) {
    background-color:lightgray;
}
